body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: "Parkinsans", sans-serif;
    color: white;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@media (max-width : 910px) {
    h1{
        font-size: 3em;
        font-weight: 600;
        padding: 0px 5px;
        margin: 0;
    }
    .anim1{
        display: inline;
        width: 450px;
        border-radius: 5px;
    }
    #p4{
        color: hwb(205 1% 1%);
    }
    .page1{
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000406;
    }
    /* Navigation Bar */
    #navbar{
        display: none;
        justify-content: center;
    }
    
    #navbar ul{
        display: flex;  
        height: 53px; 
        border-radius: 5px;
        margin: 13px 114px;
    }
    
    #navbar ul li{ 
        list-style: none;
        font-size: 1.5rem;
    }
    
    #navbar ul li a{
        display: block;
        padding: 3px 22px;
        border-radius: 20px;
        text-decoration: none;
        color: aliceblue;
        font-weight: 500;
    }
    
    #navbar ul li a:hover{
        color: black;
        background-color: white;
    }
    
    /* home page  */
    .page2{
        display: none;
        height: 100vh;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #profile{
        height: 400px;
        width: 400px;
    }
    .intro{
        display: flex;
        flex-direction: column;
        
    }
    #introhead{
        font-size: 3em;
        
    }
    .intro p {
        font-size: 1.2rem;
    }
}
h1{
    font-size: 3em;
    font-weight: 600;
    padding: 0px 5px;
    margin: 0;
}
.anim1{
    display: inline;
    width: 450px;
    border-radius: 5px;
}
#p4{
    color: hwb(205 1% 1%);
}
.page1{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000406;
}


/* Navigation Bar */
#navbar{
    display: none;
    position: fixed;
    left: 50%;
    width: 940px;
    transform: translate(-50%,0%);
    align-items: center;
    justify-content: center;
}

#navbar ul{
    display: flex;  
    height: 53px; 
    border-radius: 5px;
    margin: 13px 114px;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home page  */
.page2{
    display: none;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#profile{
    height: 440px;
    width: 470px;
}
.intro{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#introhead{
    font-size: 2em;
    
}
.intro p {
    font-size: 1.1rem;
}


/* myself page  */
.page3{
    /* height: 100vh;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin:84px auto ;
    /* max-width: 650px; */
    padding: 44px 30px 44px 20px;
    background: black;
    border-radius: 24px;
}
.intros{
    display: block;
    padding: 30px;
    width: 50vw;
    margin: 10px;
}
.intros h3{
    opacity: 0.75;
}

.page3 img{
    /* height: 93vh;
    border-radius: 20px;
    border: transparent 9px solid;
    max-width: 280px; */
    width: 36vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: border-radius 0.3s;
}
.intros p{
    /* background: rgba(76, 111, 175, 0.15);
    border-radius: 5px;
    width: 90%; */
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}
.intros button{
    background: #00daff38;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
}

/* Skills Page  */
.page4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin:84px auto ;
    /* max-width: 650px; */
    padding: 44px 30px 44px 20px;
    background: black;
    border-radius: 24px;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
.logos img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
}





@media (width <= 600px) {
    .page3 {
      margin: 0 40px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 60px;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
  
    .page3 h2 {
      margin-right: 0;
      font-size: 26px;
    }
  
    .page3 img {
      margin: -100px 0 30px 0;
      width: 100%;
      max-width: 1000px;
      height: 250px;
    }
  
    .page3 p {
      max-width: 360px;
    }
  
    /* .socials {
      justify-content: center;
    } */
  }
  
  @media (width <= 440px) {
    .page3 img {
      height: 50vw;
      width: 50vw;
      border-radius: 50%;
      border: 12px solid var(--card);
      box-shadow: none;
      margin: -140px 0 30px 0;
    }
  }







::-webkit-scrollbar {
    display: none;
  }
::selection{
    color: white;
    background-color: black;
}