body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: "Parkinsans", sans-serif;
    color: white;
    background-repeat: no-repeat;
}

@media (max-width : 910px) {
    h1{
        font-size: 3em;
        font-weight: 600;
        padding: 0px 5px;
        margin: 0;
    }
    .anim1{
        display: inline;
        width: 450px;
        border-radius: 5px;
    }
    #p4{
        color: hwb(205 1% 1%);
    }
    .page1{
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000406;
    }
    /* Navigation Bar */
    #navbar{
        display: none;
        justify-content: center;
    }
    
    #navbar ul{
        display: flex;  
        height: 53px; 
        border-radius: 5px;
        margin: 13px 114px;
    }
    
    #navbar ul li{ 
        list-style: none;
        font-size: 1.5rem;
    }
    
    #navbar ul li a{
        display: block;
        padding: 3px 22px;
        border-radius: 20px;
        text-decoration: none;
        color: aliceblue;
        font-weight: 500;
    }
    
    #navbar ul li a:hover{
        color: black;
        background-color: white;
    }
    
    /* home page  */
    .page2{
        display: none;
        height: 100vh;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #profile{
        height: 400px;
        width: 400px;
    }
    .intro{
        display: flex;
        flex-direction: column;
        
    }
    #introhead{
        font-size: 3em;
        
    }
    .intro p {
        font-size: 1.2rem;
    }
}
h1{
    font-size: 3em;
    font-weight: 600;
    padding: 0px 5px;
    margin: 0;
}
.anim1{
    display: inline;
    width: 450px;
    border-radius: 5px;
}
#p4{
    color: hwb(205 1% 1%);
}
.page1{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000406;
}


/* Navigation Bar */
#navbar{
    display: none;
    position: fixed;
    left: 50%;
    width: 940px;
    transform: translate(-50%,0%);
    align-items: center;
    justify-content: center;
}

#navbar ul{
    display: flex;  
    height: 53px; 
    border-radius: 5px;
    margin: 13px 114px;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home page  */
.page2{
    display: none;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#profile{
    height: 440px;
    width: 470px;
}
.intro{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#introhead{
    font-size: 2em;
    
}
.intro p {
    font-size: 1.1rem;
}


/* myself page  */
.page3{
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.intros{
    padding: 30px;
    width: 50vw;
    margin: 10px;
}
.intros h1{
    text-align: center;
    font-size: 2rem;
}

.page3 img{
    height: 93vh;
    border-radius: 20px;
    border: transparent 9px solid;
}
.intros p{
    background: rgba(76, 111, 175, 0.15);
    border-radius: 5px;
    width: 90%;
}
#start{
    font-size: 2rem;
    font-weight: 600;
}
.intros button{
    background: #00daff38;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
}

/* Skills Page  */
.page4{
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}







::-webkit-scrollbar {
    display: none;
  }
::selection{
    color: white;
    background-color: black;
}